@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Promact Infotech</h1>
    <p class="lead">Welcome to Student Management System!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Student Management System helps you manage the database relating to Students of a particular College.
        </p>
       </div>
</div>